name: Update RSS Feed

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  push:
    branches:
      - 'main'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  update_rss:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: 'current'

      - name: Run script
        run: gradle run

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'rss'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
